<div class="crop" [style.width.px] = 'starWidth' [title] = 'rating'> 
     <!-- se utiliza entre [] para mesclar o atributo com o componente -->
    <div style="width: 100px;">

        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
<!-- 5 estrelas porque é a nota máxima do rating. se receber 4 estrelas, uma das estrelas será escondida -->
    </div>

</div>